
.brand-primary {
  color: $brand-primary;
}

.brand-secondary {
  color: $brand-secondary;
}

.brand-tertiary {
  color: $brand-tertiary;
}

.brand-grey-light {
  color: $brand-grey-light;
}

.brand-grey-medium {
  color: $brand-grey-medium;
}

.brand-grey-dark {
  color: $brand-grey-dark;
}
